* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    border: 1px solid black;
    height: 10vh;
    display: flex;
    justify-content: center;
    background: url(photos/about.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 15px;
    color: white;
}

body{
    background: url(photos/background.jpg);
    background-size: cover;
}

header {
    padding: 0 0 30px 0;
    
}

.search {
    display: flex;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: gainsboro;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.movie {
    background: rgb(245, 237, 220);
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 7px 7px 0; 
}

.movie img {
    width: 100%;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 18px;
    cursor: pointer;
}
